@import "../../../scss/variables";
@import "../../../scss/common";

.user-info {
  display: flex;
  align-items: center;
}

.Details-view {
  padding: 24px;
  border-radius: 18px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffff;
  margin-top: 1em;
}

.image {
  width: 37px;
  height: 37px;
  background-color: $ray;
  border-radius: 50%;
  @extend .d-flex-center;
  margin: 0 .5em;

  img {
    width: 20px;
    height: 20px;
  }
}

.policy {
  p:first-of-type {
    width: 170px;
    font-size: 16px;
    font-weight: bold;
    color: $primary;
    margin-bottom: 5px;
  }

  p:nth-of-type(2) {
    display: flex;
    align-items: center;

    font-size: 12px;
    color: $misty;

    img {
      width: 12px;
      height: 12px;
      margin: 0 6px;
    }
  }
}

//.separator {
//    margin: 0 2em;
//}

.Category {
  display: flex;
  align-items: center;

  .active {
    color: $positive;

  }

  //p {
  //    font-size: 16px;
  //}

  p:nth-of-type(2) {
    margin: 0 36px !important;
  }

  img {
    width: 14px;
    height: 14px;
    margin: 0 8px;

  }

}

.workingDays {
  p {
    color: $misty
  }

  .Days {
    height: 21px;
    margin: 8px 2px 0;
    padding: 0 4px 4px;
    font-size: 12px;
    color: #6a6d7e;
    border-radius: 4px;
    background-color: rgb(201, 203, 213, 0.5);
  }
}

.moreInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .policyUser, .Date, .maxTransaction {
    //margin: 0 36px;
    p:first-of-type {
      color: $misty;
    }
  }

}


@media (max-width: 1056px) {

  .Category {
    display: block;

    p:nth-of-type(2) {
      margin: 5px 0 !important;
    }

  }
  .moreInfo {
    display: block;
    text-align: center;

    .policyUser, .Date, .maxTransaction {
      margin: 15px 0;
    }
  }

}

@media (max-width: 700px) {
  .user-info {
    display: block;

    div:first-of-type {
      margin-bottom: 15px;
    }

    div:nth-of-type(3) {
      flex-wrap: wrap;

      p {
        white-space: none;
      }
    }

  }

  .Category {
    display: flex;
    justify-content: space-between;

  }
  .separator {
    display: none;
  }
}

@media (max-width: 608px) {
  .Category {
    display: block;
  }
}


.icon-drop {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: solid 1px $light;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.dropdownMenu {
  position: absolute;
  width: 219px;
  padding: 10px 24px;
  border-radius: 22px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px $ray;
  background-color: #ffff;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1035;

  ul {
    list-style: none;

    li {
      padding: 14px 0;
      font-size: 16px;
      color: $primary;
      cursor: pointer;
    }

    li:nth-of-type(3) {
      padding: 14px 0 8px 0;
    }

    li img {
      width: 12px;
      height: 12px;
      margin-inline-end: 8px;
    }
  }

  p {

    font-size: 16px;
  }

  p img {
    width: 12px;
    height: 12px;
    margin-inline-end: 8px;
  }
}

