@import "src/app/scss/variables";
@import "src/app/scss/common";

@keyframes fadeInLeft {
  0% {
    opacity: 0.5;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(20px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 0;
    transform: translateX(-60px);
  }
}

.drawer {
  margin: 1em;
  width: 380px;
  height: 645px;
  padding: 1em;
  border-radius: 2%;
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  background-color: #fff;
  position: relative;
  z-index: 999;

  &__header {
    padding: 0 0 0 1em;
    display: flex;
    flex-direction: row-reverse;

    .close-btn {
      text-decoration: none;
      border: 0;
      background-color: #fff;
      cursor: pointer;

      .icon {
        width: 34px;
        height: 34px;
        border-radius: 7px;
        border: solid 1px $light;
        @extend .d-flex-center;

      }
    }
  }

  &__info {
    margin: 0 2em 1em 2em;

    .unit-title {
      margin-bottom: 1em;
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
      text-align: right;
      text-transform: capitalize;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2em;

      .data-row {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 1em;
        width: 100%;

        .inactive-highlight {
          width: fit-content;
          padding: 0.25em;
          opacity: 0.9;
          border-radius: 4px;
          background-color: $light;
          color: $strongGrey;
          font-size: 1rem;
          text-align: left;
        }
      }
    }
  }

  &__divider {
    min-width: 170px;
    width: 86%;
    margin: 1em auto;
    border-top: solid 1px $ray;
  }

  &__details {
    margin: 0 2em 1em 2em;
    display: flex;
    flex-direction: column;
    row-gap: 3em;

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1rem;

      .round-highlight {
        border-radius: 20px;
        border: solid 1px $lightGrey;
        padding: 0.5em 1em;
        min-width: 25%;
        height: fit-content;
        text-align: center;
        color: $lightGrey;

        &--mainBlue {
          @extend .inactive-highlight;
          background-color: unset;
          color: $primary;
          border-color: $primary;
        }

        &--branchPink {
          @extend .inactive-highlight;
          background-color: unset;
          color: $secondary-one;
          border-color: $secondary-one;
        }
      }

      .data-value {
        color: $alpha;
      }
    }
  }
  &__footer{
    text-align: center;
    margin-top: 3em;
    .button{
      background-color: $primary;
      width: 227px;
      color: #fff;
      font-size: 16px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.data-label {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  font-size: 1rem;
  color: $lightGrey;
  opacity: 0.9;
  text-align: left;
  text-transform: capitalize;
  align-items: center;
}
