<div class="invoice-container html2pdf__page-break" id="printable">
  <div class="invoice-actions" *ngIf="showInvoiceActions" data-html2canvas-ignore="true">
    <div class="invoice-actions-right">
      <button (click)="print()" class="ui button btn-primary">
        <nb-icon icon="printer-outline"></nb-icon>
        {{'app.print' | translate}}</button>
        <ng-container  *ngIf="userType==='admin'" >
          <ng-container *appHasRole="['INVOICE_UPDATE']">
            <button  *ngIf="!invoice?.settled " (click)="addSerialNumber($event)" class="ui button btn-success">
              <nb-icon icon="plus-outline"></nb-icon>
              {{'invoice.addSerial' | translate}}</button>
          </ng-container>
          
          <ng-container *appHasRole="['INVOICE_SETTLE']">
            <button  *ngIf="!invoice?.settled && showSettleBtn" (click)="settleInvoice($event)" class="ui button btn-success">
              {{'invoice.settleBtn' | translate}}</button>
          </ng-container>
        </ng-container >
      
    </div>

  </div>

  <div class="invoice-header">
    <div class="invoice-header-left">
      <div class="invoice-info">
        <strong style="color: #000; font-size: 2em"
                class="invoice-info-label">{{currentLang === 'en' ? invoice?.merchantEnName : invoice?.merchantLocaleName}}</strong>
      </div>
    </div>
    <div class="invoice-header-right">
      <!--      <h3>{{'invoice.detail' | translate}}</h3>-->
      <div class="invoice-info" *ngIf="invoice?.serialNumber">
        <strong class="invoice-info-label">{{'invoice.serialNumber' | translate}}:</strong>
        <span class="invoice-info-value">{{invoice?.serialNumber}}</span>
      </div>
    </div>
  </div>
  <div class="invoice-container-merchant">
    <div class="invoice-info" *ngIf="invoice?.creationDate">
      <strong class="invoice-info-label">{{'app.date' | translate}}:</strong>
      <span class="invoice-info-value">{{invoice?.creationDate}}</span>
    </div>
    <div class="invoice-info">
      <div class="invoice-info-date">
        <ng-container *ngIf="invoice?.fromDate">
          <strong class="invoice-info-label">{{'app.fromDate' | translate}}:</strong>
          <span class="invoice-info-value">{{invoice?.fromDate}}</span>
        </ng-container>
        <ng-container *ngIf="invoice?.toDate">
          <strong class="invoice-info-label">{{'app.toDate' | translate}}:</strong>
          <span class="invoice-info-value">{{invoice?.toDate}}</span>
        </ng-container>
      </div>

    </div>
  </div>
  <div class="invoice-details">
    <div class="invoice-details-right">

      <div class="invoice-info">
        <strong class="invoice-info-label">{{'invoice.site.name' | translate}}:</strong>
        <span class="invoice-info-value">{{currentLang === 'en' ? invoice?.siteEnName : invoice?.siteLocaleName}}</span>
      </div>
      <div class="invoice-info">
        <strong class="invoice-info-label">{{'invoice.merchantTaxId' | translate}}:</strong>
        <span class="invoice-info-value">{{invoice?.merchantTaxId}}</span>
      </div>
      <div class="invoice-info">
        <strong class="invoice-info-label">{{'invoice.merchant.cr' | translate}}:</strong>
        <span class="invoice-info-value">{{invoice?.merchantCommercialRegistrationNumber}}</span>
      </div>
      <div class="invoice-info">
        <strong class="invoice-info-label">{{'invoice.merchant.address' | translate}}:</strong>
        <span class="invoice-info-value">{{merchantAddressCity}}</span>
      </div>
      <!-- <div class="invoice-info">
        <strong class="invoice-info-label">{{'merchant.suspended' | translate}}:</strong>
        <span class="invoice-info-value">{{'app.' + invoice?.suspended | translate}}</span>
      </div> -->
      <!--      <div class="invoice-info" *ngIf="invoice?.status">-->
      <!--        <strong class="invoice-info-label">{{'app.status' | translate}}:</strong>-->
      <!--        <span class="invoice-info-value">{{invoice?.status}}</span>-->
      <!--      </div>-->
      <!--      <div class="invoice-info">-->
      <!--        <strong class="invoice-info-label">{{'invoice.merchant.phonenumber' | translate}}:</strong>-->
      <!--        <span class="invoice-info-value"></span>-->
      <!--      </div>-->
    </div>

    <div class="invoice-details-left">
      <div class="invoice-info">
        <strong class="invoice-info-label">{{'invoice.corporate.name' | translate}}:</strong>
        <span
          class="invoice-info-value">{{currentLang === 'en' ? invoice?.corporateEnName : invoice?.corporateLocaleName}}</span>
      </div>
      <div class="invoice-info">
        <strong class="invoice-info-label">{{'invoice.corporateTaxId' | translate}}:</strong>
        <span class="invoice-info-value">{{invoice?.corporateTaxId}}</span>
      </div>
      <div class="invoice-info">
        <strong class="invoice-info-label">{{'invoice.corporate.cr' | translate}}:</strong>
        <span class="invoice-info-value">{{invoice?.corporateCommercialRegistrationNumber}}</span>
      </div>
    </div>

  </div>
  <!--Table-->
  <app-data-table *ngIf="gridData.length" [tableControls]="false" [colData]="colData"
                  [gridData]="gridData"></app-data-table>

  <div class="row">
    <div class="col-lg-4 col-sm-5 m-auto mt-4">
      <table class="table table-clear">
        <tbody>
        <tr>
          <td class="left">
            <strong class="text-dark">{{'invoice.totalHoldingTaxAmount' | translate | titlecase}}</strong></td>
          <td class="right">
            <strong
              class="text-dark">{{invoice?.totalHoldingTaxAmount}}  {{currentLang === 'en' ? code : 'ج.م'}}</strong>
          </td>
        </tr>
        <tr>
          <td class="left">
            <strong class="text-dark">{{'invoice.totalVatAmount' | translate | titlecase}}</strong></td>
          <td class="right">
            <strong class="text-dark">{{invoice?.totalVatAmount}}  {{currentLang === 'en' ? code : 'ج.م'}}</strong>
          </td>
        </tr>
        <tr>
          <td class="left">
            <strong class="text-dark">{{'invoice.totalAmount' | translate | titlecase}}</strong></td>
          <td class="right">
            <strong class="text-dark">{{invoice?.totalAmount}}  {{currentLang === 'en' ? code : 'ج.م'}}</strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
