nb-card {
  margin-top: 2em;

  h5 {
    font-family: 'Geomanist', sans-serif !important;
  }

  label {
    color: #9EA0A5;
    text-transform: capitalize;
    font-family: 'Geomanist', sans-serif !important;
    width: 50%;
  }
}