
<app-back-button></app-back-button>

<div class="details">
  <h5>{{currentLang === 'en' ? country["enName"] : country["localeName"]}}</h5>
  <div class="ui dividing header"></div>
  <div class="details-content">
    <h6>{{'app.basicInfo' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="ui three column grid">
      <div class="column" *ngFor="let prop of country | keyvalue">
        <app-item-details [head]="'country.' + prop.key" [body]="prop.value"></app-item-details>
      </div>
      <div class="column ng-star-inserted">
        <app-item-details [head]="'app.status'" [body]="'app.'+suspended | translate"></app-item-details>
      </div>
    </div>
  </div>

  <app-update-button [path]="['/admin/countries/',countryId,'update']" [role]="'COUNTRY_UPDATE'"></app-update-button>

</div>