
<app-data-table [tableControls]="false" [gridData]="gridData" [colData]="colData">

  <ng-container header>
    <app-left-table-header [title]="'tabs.merchant.tips'" [name]="'tabs.merchant.tips'"
                           [length]="totalElements"></app-left-table-header>

    <app-filter-btn #filterBtn></app-filter-btn>

  </ng-container>

  <app-search *ngIf="filterBtn.showAdvanceSearch" search>
    <form #advanceSearchForm="ngForm" class="ui form"
          (ngSubmit)="handleSearch()">
      <div class="ui dividing header"></div>
      <div class="fields">
        <div class="field">
          <app-label [label]="'invoice.site.name'"></app-label>
          <ng-select [ngModel] [disabled]="!sites.length"
                     name="siteId" placeholder="{{'invoice.site.name' | translate}}">
            <ng-option *ngFor="let site of sites" [value]="site.id">
              {{currentLang === 'en' ? site.enName : site.localeName}}
            </ng-option>
          </ng-select>
        </div>
        <div class="field">
          <app-status ngModel name="suspended"></app-status>
        </div>
        <div class="field search">
          <button type="submit" class="ui button">{{'app.search' | translate}}</button>
        </div>
      </div>
    </form>
  </app-search>
</app-data-table>

<!--PAGINATION-->
<app-pagination [totalElements]="totalElements"
                (onPageChange)="loadPage($event)" (onPageSizeChange)="handlePageSizeChange($event)"></app-pagination>
