span {
  color: #9e9e9e;
  line-break: anywhere;
}

.VCardContainer {
  margin-top: 5%;
  padding: 2% 0;
  background-color: #ffffff !important;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;

    h5 {
      margin-left: 3%;
    }
  }
}
