$main-color: #2d4190;
$secondary-color: #e65a9c;
$positive: #28be89;
$negative: #e65151;
$primary: #2d4190;
$alpha: #0a143a;
$misty: #9ca0b0;
$ray: #eeeef2;
$legend: #636888;
$light: #c9cbd5;
$secondary-one: #e35c9c;
$strongGrey: #363638;
$danger: #dc3545;
$haze:#f6f7f9;
$lightGrey: #6a6d7e;
$secondary-two: #ffac3a;
