
<app-data-table [showInvoice]="false" [showView]="true" [showDelete]="false"
                [showUpdate]="false" [gridData]="gridData"
                [colData]="colData" [entityName]="'BILL'">

  <ng-container header>
    <app-left-table-header [title]="'bill.title'" [name]="'bill.name'"
                           [length]="totalElements"></app-left-table-header>

    <app-filter-btn #filterBtn></app-filter-btn>
  </ng-container>

  <app-search *ngIf="filterBtn.showAdvanceSearch" search>
    <form #advanceSearchForm="ngForm" class="ui form"
          (ngSubmit)="handleSearch()">
      <div class="ui dividing header"></div>
      <div class="fields">
        <!--        <div class="field">-->
        <!--          <app-input-field ngModel name="corporateLocaleName" [placeholder]="'corporates.localeName'"-->
        <!--                           [label]="'corporates.localeName'"></app-input-field>-->
        <!--        </div>-->
        <!--        <div class="field">-->
        <!--          <app-input-field ngModel name="corporateEnName" [placeholder]="'corporates.enName'"-->
        <!--                           [label]="'corporates.enName'"></app-input-field>-->
        <!--        </div>-->

        <div class="field" *ngIf="!isTabsView">
          <app-label [label]="'corporates.corporateName'"></app-label>
          <ng-select dropdownPosition='bottom' name="corporateId" [ngModel]
                     placeholder="{{'corporates.corporateName' | translate}}">
            <ng-option *ngFor="let corporate of corporates"
                       [value]="corporate.id">
              {{currentLang === 'en' ? corporate.enName : corporate.localeName}}
            </ng-option>
          </ng-select>
        </div>

        <div class="field">
          <app-label [label]="'app.fromDate'"></app-label>
          <input [(ngModel)]="fromDate" type="date" name="fromDate" nbInput fullWidth>
        </div>
        <div class="field">
          <app-label [label]="'app.toDate'"></app-label>
          <input [(ngModel)]="toDate" type="date" name="toDate" nbInput fullWidth>
        </div>
      </div>
      <div class="row">
        <div class="field search">
          <button type="submit" class="ui button">{{'app.search' | translate}}</button>
        </div>
      </div>
    </form>
  </app-search>
</app-data-table>

<!--PAGINATION-->
<app-pagination [totalElements]="totalElements"
                (onPageChange)="loadPage($event)" (onPageSizeChange)="handlePageSizeChange($event)"></app-pagination>
