
<app-back-button *ngIf="userType !== 'admin'"></app-back-button>
<div class="details">
  <h5>{{'app.details' | translate}} </h5>
  <div class="ui dividing header"></div>
  <div class="details-content">
    <h6>{{'app.basicInfo' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="ui three column grid">
      <div class="column" *ngFor="let prop of transaction | keyvalue">
        <app-item-details [head]="'transaction.' + prop.key" [body]="prop.value"></app-item-details>
      </div>
    </div>
  </div>
</div>

<app-data-table [showTopContainer]="false" [tableControls]="false" [gridData]="gridData" [colData]="colData">
  <app-left-table-header [title]="'transaction.items'" [name]="'transaction.items'"
                         [length]="gridData.length"></app-left-table-header>

</app-data-table>


<nb-card class="mt-5" *ngIf="this.mileageFile?.fileContentBase64">
  <nb-card-header class="img-header">{{'transaction.milagePhoto'| translate}}</nb-card-header>
  <nb-card-body>
    <img [src]="'data:image/png;base64,' + this.mileageFile?.fileContentBase64">
  </nb-card-body>
</nb-card>

