<ng-template #modal let-modal>
  <!--  <div class="modal-header">-->
  <!--    <h4 head class="modal-title" id="modal-title">{{name}} Deletion</h4>-->
  <!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
  <!--      <span aria-hidden="true">&times;</span>-->
  <!--    </button>-->
  <!--  </div>-->
  <!--  <div class="modal-body">-->
  <!--    <p><strong>Are you sure you want to delete?</strong></p>-->
  <!--    <p>All information associated to this <strong>{{name}}</strong> will be permanently deleted.-->
  <!--      <span class="text-danger">This operation can not be undo.</span>-->
  <!--    </p>-->
  <!--  </div>-->
  <!--  <div class="modal-footer">-->
  <!--    <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>-->
  <!--    <ng-content select="[footer]"></ng-content>-->
  <!--  </div>-->
  <ng-content></ng-content>
</ng-template>