<div class="login">
  <div class="login__form">
    <!-- <img class="logo" src="./assets/logo-en.svg" alt="logo"> -->
    <img class="logo" [src]="'./assets/logo-'+ currentLang +'.svg'" alt="logo">
    <div class="login__form-head">
      <h1>{{'login.resetTitle' | translate}}</h1>
      <p>{{'login.resetText' | translate}}</p>
    </div>
    <div class="login__form-body">
      <form #requestForm="ngForm" class="ui form" (ngSubmit)="requestPassword(requestForm.value)">
        <div class="field">
          <app-input-field [type]="'text'" [required]="true"
                           [ref]="username" #username="ngModel"  [required]="true"  (ngModel)="username" name="username"
                           [placeholder]="'app.username'"
                           [label]="'app.username'">
          </app-input-field>
          <app-error [ref]="username" [message]="'Username is required'"></app-error>
        </div>
        <button class="ui button btn-primary" type="submit"
                [disabled]="requestForm.invalid">{{'login.sendBtn' | translate}}</button>
      </form>
    </div>
  </div>
  <div class="login__bg">
    <img src="assets/img/login/request-pass-bg.svg" alt="logoBg">
  </div>
</div>

<div>
  <ngx-footer></ngx-footer>
</div>