@import "../../scss/common";
@import "../../scss/variables";

::ng-deep .modal-content {
  padding: 1em !important;
}

::ng-deep .modal-header {
  justify-content: unset !important;
}

//start review modal design
.review-header {
  display: flex;
  flex: 1;

  .icon {
    width: 54px;
    height: 94px;
    background-color: #28be8963;
    border-radius: 12px;
    @extend .d-flex-center;

    img {
      filter: invert(54%) sepia(63%) saturate(478%) hue-rotate(107deg) brightness(100%) contrast(89%);
    }
  }

  .info {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    flex: 1;

    h5 {
      color: $alpha;
      font-size: 16px;
      margin-bottom: 0;
      text-transform: capitalize;
    }

    p {
      margin-top: 14px;
      color: $legend;
    }

    span {
      @extend .plate-number;
    }

    .select-control{
      flex: 1;
      margin: 0 10px;
    }
  }
}

::ng-deep nb-radio {
  .text {
    color: $misty !important;

    input {
      margin: 0 1em;
      @extend .input-style
    }
  }
}

.review-section {
  h5 {
    font-size: 14px;
    color: $alpha;
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  border-bottom: 1px solid $ray;
  margin-bottom: 1em;
  padding-bottom: 1em;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

  input {
    @extend .input-style;
  }

  textarea {
    border-radius: 8px;
    width: 100%;
    height: 72px;
    padding: 1em;
    border-color: $light;
  }
}

.input-style {
  border-radius: 8px;
  border: 1px solid $light;
  outline: none;
  padding: .5em;
}

.plate-number {
  background-color: $primary;
  border-radius: 4px;
  padding: 0 0.5em;
  width: fit-content;
  color: #fff;
  letter-spacing: 5px;
}
