@import '../../../scss/variables';
.BoxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    border-radius: 18px;
    margin-bottom: 36px;
}

@media (max-width:970px){
    .BoxContainer{
        display: block;
    }
}

.review,.transcationReports{
    width: 181px;
    height: 40px;
    padding: 8px 24px 12px;
    border-radius: 20px;
    
    border: none;
    img{
        margin-inline-end: 4px;
    }
}
.review{
    background-color: $primary;
    color:#fff;
}

.transcationReports{
    margin-inline-start: 16px;
    color: $primary;
    border: 1px solid $primary;

}

.tableDiv{
    background-color: #ffff;
    border-radius: 34px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}