
<app-data-table [gridData]="gridData" [colData]="colData" [entityName]="'MASTER_MERCHANT'">
  <ng-container header>
    <app-left-table-header [title]="'masterMerchant.title'" [name]="'masterMerchant.title'"
                           [length]="totalElements"></app-left-table-header>

    <app-right-table-header [role]="'MASTER_MERCHANT_CREATE'" [addText]="'masterMerchant.create'">
      <app-filter-btn #filterBtn></app-filter-btn>

    </app-right-table-header>
  </ng-container>

  <app-search *ngIf="filterBtn.showAdvanceSearch" search>
    <form #advanceSearchForm="ngForm" class="ui form" (ngSubmit)="getMasterMerchants(advanceSearchForm.value)">
      <div class="ui dividing header"></div>
      <div class="fields">
        <div class="field">
          <app-input-field ngModel name="enName" [placeholder]="'masterMerchant.enName'"
                           [label]="'masterMerchant.enName'"></app-input-field>
        </div>
        <div class="field">
          <app-input-field ngModel name="localeName" [placeholder]="'masterMerchant.localeName'"
                           [label]="'masterMerchant.localeName'"></app-input-field>
        </div>
        <div class="field">
          <app-status ngModel name="suspended"></app-status>
        </div>
      </div>
      <div class="row">
        <div class="field search">
          <button type="submit" class="ui button">Search</button>
        </div>
      </div>
    </form>
  </app-search>
</app-data-table>

<!--PAGINATION-->
<app-pagination [totalElements]="totalElements"
                (onPageChange)="loadPage($event)" (onPageSizeChange)="handlePageSizeChange($event)"></app-pagination>

<!--DELETE MODAL-->
<app-delete-modal #modal [name]="'masterMerchant.deletedTitle'">
  <button footer class="btn btn-danger" (click)="deleteMasterMerchant()">{{'app.confirm' | translate}}</button>
</app-delete-modal>