<div class="login">
  <div class="login__form">
    <!-- <img class="logo" src="./assets/logo-en.svg" alt="logo"> -->
    <img class="logo" [src]="'./assets/logo-'+ currentLang +'.svg'" alt="logo">
    <div class="login__form-head">
      <h1>{{'login.resetTitle' | translate}}</h1>
      <p>{{'login.newPassText' | translate}}</p>
    </div>
    <div class="login__form-body">
      <form #resetForm="ngForm" class="ui form" (ngSubmit)="forgetPassword(resetForm.value)">
        <div class="field">
          <app-input-field [type]="'password'" [required]="true" [ref]="password" #password="ngModel" [required]="true"
            (ngModel)="password" name="password" [placeholder]="'login.password'" [label]="'login.password'"
            [pattern]="PASSWORD_REGEX">
          </app-input-field>
          <div class="ui basic red pointing prompt label transition visible" *ngIf="password.errors?.['required'] && (password.touched || password.dirty)">
            <small>
              <nb-icon icon="alert-triangle"></nb-icon>
             Password is Required
            </small>
          </div>
          <div class="ui basic red pointing prompt label transition visible" *ngIf="password.errors?.['pattern']">
            <small>
              <nb-icon icon="alert-triangle"></nb-icon>
              Your password is not valid, please add password at least 8 characters with numbers, uppercase, lowercase
              letters .
            </small>
          </div>
        </div>
        <div class="field">
          <app-input-field [type]="'password'" [required]="true" [ref]="confirmPassword" #confirmPassword="ngModel"
            [required]="true" (ngModel)="confirmPassword" name="confirmPassword" [placeholder]="'login.confirmPassword'"
            [label]="'login.confirmPassword'">
          </app-input-field>
          <app-error [ref]="confirmPassword" [message]="'Confirm Password is required'"></app-error>
          <div class="ui basic red pointing prompt label transition visible"
            *ngIf="password.value != confirmPassword.value &&  confirmPassword.value  &&( confirmPassword.dirty || confirmPassword.touched)">
            <small>
              <nb-icon icon="alert-triangle"></nb-icon>
              Confirmed Password should match the password
            </small>
          </div>
        </div>
        <button class="ui button btn-primary" type="submit"
          [disabled]="resetForm.invalid || (confirmPassword.value != password.value) ">{{'login.resetBtn' |
          translate}}</button>
      </form>
    </div>
  </div>
  <div class="login__bg">
    <img src="assets/img/login/request-pass-bg.svg" alt="logoBg">
  </div>
</div>
<div>
  <ngx-footer></ngx-footer>
</div>