@import "src/app/scss/variables";
@import "src/app/scss/common";

.left-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 101px;
  gap: 1em;
  @media (max-width: 991.98px) {
    margin-bottom: 1em;
  }

  h6 {
    text-transform: capitalize;
    color: $alpha;
    font-size: 1.4em;
  }


  p {
    color: $misty;
    margin-bottom: 4px;
    text-transform: capitalize;
  }

  &-icon {
    width: 36px;
    height: 36px;
    border-radius: 9px;
    @extend .d-flex-center;

 
  }
}

.Policy {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 40px;
    height: 40px;
    margin: 14px 14px 13px 14px;
    padding: 11px;
    border-radius: 7px;
  }
  .name span{
    color: $misty;
  }
}