.merchant-info {
  h5 {
    margin-bottom: 0;
    font-family: 'Geomanist', sans-serif !important;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    h6 {
      margin-bottom: 0;
      font-family: 'Geomanist', sans-serif !important;
      margin-right: 0.5em;
      color: #333333de;
    }

    span {
      display: inline-block;
      margin-top: 2px;
    }
  }
}