
<app-back-button *ngIf="userType==='corporate' && !isTabView"></app-back-button>

<div class="create">
  <h6
    class="create-title">{{!isUpdateView ? ('corporateHardware.add' | translate) : ('corporateHardware.update' | translate)}}</h6>
  <div class="ui dividing header"></div>
  <form #corporateHardwareForm="ngForm" class="ui form bg-form">
    <h6>{{'app.basicInfo' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="fields">
      <div class="field">
        <app-label [label]="'corporateVehicle.assetTag'"></app-label>
        <input #autoInput
               (keyup.enter)="createAssetTag()"
               nbInput
               type="text"
               placeholder="{{'corporateVehicle.assetTag' | translate}}"
               [nbAutocomplete]="auto"
               name="assetTagId"
               [ngModel]="assetTagName"
        />
        <nb-autocomplete #auto>
          <nb-option *ngFor="let asset of assetTags" [value]="asset.enName">
            {{currentLang === 'en' ? asset.enName : asset.localeName }}
          </nb-option>
        </nb-autocomplete>
      </div>
      <div class="field">
        <app-label [required]="true" [label]="'corporateCard.serialNumber'"></app-label>
        <ng-select dropdownPosition='bottom' required="true" [(ngModel)]="corporateHardware.nfcId" name="cardId"
                   placeholder="{{'corporateCard.serialNumber' | translate}}">
          <ng-option *ngFor="let card of corporateNfcs" [value]="card.id">
            {{card.serialNumber}}
          </ng-option>
        </ng-select>
      </div>

      <div class="field">
        <app-label [required]="true" [label]="'corporateVehicle.authUser'"></app-label>
        <ng-select dropdownPosition='bottom' [(ngModel)]="corporateHardware.authorizedUserIds" required="true"
                   [multiple]="true"
                   name="authorizedUserIds" placeholder="{{'corporateVehicle.authUser' | translate}}">
          <ng-option *ngFor="let user of corporateUsers"
                     [value]="user.id">{{currentLang === 'en' ? user.enName : user.localeName}}</ng-option>
        </ng-select>
      </div>

      <div class="field">
        <app-label [label]="'corporateVehicle.policy'"></app-label>
        <ng-select dropdownPosition='bottom' [(ngModel)]="policyIds" [multiple]="true" name="assetPolicies"
                   placeholder="{{'corporateVehicle.policy' | translate}}">
          <ng-option *ngFor="let policy of policies" [value]="policy.id">
            {{currentLang === 'en' ? policy.enName : policy.localeName}}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <h6>{{'corporateHardware.status' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="field">
      <nb-toggle [(ngModel)]="active" name="toggle" labelPosition="start">{{'app.status' | translate}}:</nb-toggle>
    </div>
    <div class="row">
      <button [disabled]="!corporateHardwareForm.form.valid" *ngIf="!isUpdateView" (click)="createCorporateHardware()"
              class="ui button btn-primary">{{'corporateHardware.add' | translate}}</button>
      <button [disabled]="!corporateHardwareForm.form.valid" *ngIf="isUpdateView" (click)="updateCorporateHardware()"
              class="ui button btn-primary">{{'app.save' | translate}}</button>
    </div>
  </form>
</div>