@import "../../../scss/common";
@import "../../../scss/variables";

.tabs-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 26px;
  margin-top: 1em;

  h4 {
    text-transform: capitalize;

    span {
      width: 22px;
      height: 22px;
      padding: 4px;
      margin-inline-end: 8px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.2);

      img {
        width: 14px;
        height: 14px;
        object-fit: contain;
      }
    }
  }
}

.ou-tabs {
  list-style: none;
  display: flex;
  width: 100%;
  overflow-x: auto;

  .tab {
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    cursor: pointer;
    margin: 0 .3rem 1em;
    height: 34px;
    min-width: fit-content;
    @extend .d-flex-center;

    &-icon {
      width: 30px;
      height: 30px;
      background-color: $ray;
      @extend .d-flex-center;
      border-radius: 50%;
      margin: 0 0.2rem;

      img {
        width: 12px;
        height: 12px;
      }
    }

    span {
      padding: 0 .8rem;
      color: $legend;
      text-transform: capitalize;
    }

    &.active {
      span {
        color: $primary;
        font-weight: bold;
        font-size: 1rem;
      }
    }

  }
}

.title {
  font-size: 16px;
  text-transform: capitalize;
  color: $alpha;
  width: 100%;
  padding-top: 1em;
}

.Expected-limit {

  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  ul li:nth-of-type(2) {
    margin: auto 36px;
  }

  ul li span {
    width: 22px;
    height: 22px;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    margin: auto 8px;
    white-space: nowrap;
  }

  ul li {
    span {
      &.unlimit {
        background-color: #63688829;
        img {
          filter: brightness(0) saturate(100%) invert(40%) sepia(15%) saturate(672%) hue-rotate(194deg) brightness(98%) contrast(95%);
        }
      }

      &.downImg {
        background-color: rgba(40, 190, 137, 0.14);
      }

      &.Img {
        background-color: rgba(230, 81, 81, 0.14);
      }

      &.upImg {
        background-color: rgba(255, 172, 58, 0.14);
      }
    }
  }

  ul li span img {
    width: 12px;
    height: 12px;
    object-fit: contain;

  }
}

.list-view {
  span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 8px;
    padding: 9px;
    border-radius: 12px;
    border: solid 1px $light;
    cursor: pointer;

    img {
      width: 22px;
      height: 22px;
    }
  }
}

.list-view span:nth-of-type(2) {
  background-color: #fff;
}

.d-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}