
<div class="create">
  <h6>{{'login.changePassword' | translate}}</h6>
  <p>{{'login.changePasswordTxt' | translate}}</p></div>
<div class="ui dividing header"></div>

<div class="login">

  <form #changePasswordForm="ngForm" class="ui form bg-form" (ngSubmit)="changePassword(changePasswordForm.value)">
    <div class="field">
      <app-input-field [type]="'password'" [required]="true" [ref]="currentPassword"
                       (ngModel)="currentPassword" name="currentPassword" #currentPassword="ngModel"
                       [placeholder]="'login.currentPassword'" [label]="'login.currentPassword'"
      >
      </app-input-field>
      <app-error [ref]="currentPassword" [message]="'login.currentPasswordRequired'"></app-error>

    </div>
    <div class="field">
      <app-input-field [type]="'password'" [ref]="newPassword"
                       [required]="true" (ngModel)="newPassword" name="newPassword" #newPassword="ngModel"
                       [placeholder]="'login.newPassword'"
                       [label]="'login.newPassword'" [pattern]="PASSWORD_REGEX">
      </app-input-field>
      <div class="ui basic red pointing prompt label transition visible"
           *ngIf="newPassword.touched && newPassword.invalid && newPassword.errors?.['required']">
        <small>
          <nb-icon icon="alert-triangle"></nb-icon>
          {{'login.newPasswordRequired' | translate}}
        </small>
      </div>
      <div class="ui basic red pointing prompt label transition visible"
           *ngIf="newPassword.touched && newPassword.invalid && newPassword.errors?.['pattern']">
        <small>
          <nb-icon icon="alert-triangle"></nb-icon>
          {{'login.passwordValidation' | translate}}
        </small>
      </div>
    </div>
    <button class="ui button btn-primary" type="submit"
            [disabled]="changePasswordForm.invalid || (currentPassword.value == newPassword.value) ">{{'login.changePassword' |
      translate}}</button>
  </form>


</div>