
<app-back-button *ngIf="userType==='corporate' && !isTabView"></app-back-button>

<div class="details">
  <div class="details-content">
    <h6>{{'app.basicInfo' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="ui three column grid">
      <div class="column" *ngFor="let prop of corporateHardware | keyvalue">
        <app-item-details [head]="'corporateHardware.' + prop.key" [body]="prop.value"></app-item-details>
      </div>
    </div>
  </div>

  <app-update-button *ngIf="userType==='admin'"
                     [path]="['/admin/corporates/',corporateId,'details','hardwares',corporateHardwareId,'update']" [role]="'ASSET_UPDATE'"></app-update-button>

  <app-update-button *ngIf="userType==='corporate'"
                     [path]="isTabView ? [updateUrl] : ['/corporate','hardwares',corporateHardwareId,'update']" [role]="'ASSET_UPDATE'"></app-update-button>
</div>