
<!--<app-back-button *ngIf="!isTabView && !hideBackBtn"></app-back-button>-->
<div class="create">
  <h6
    class="create-title">{{!isUpdateView ? ('user.corporate.add' | translate) : ('user.corporate.update' | translate)}}
    <span
      *ngIf="(selectedOuNode?.enName || selectedOuNode?.localeName) && selectedOuNode?.id !==0"> {{'unit.for' | translate}} {{currentLang === "en" ? selectedOuNode?.enName : selectedOuNode?.localeName}} </span>
  </h6>
  <div class="ui dividing header"></div>
  <form #corporateUserForm="ngForm" class="ui form bg-form">
    <h6>{{'app.basicInfo' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="fields">
      <div class="field" *ngIf="isUpdateView">
        <app-input-field [disabled]="isUpdateView" [(ngModel)]="corporateId" name="corporateId"
                         [placeholder]="'user.corpId'" [label]="'user.corpId'"></app-input-field>
      </div>
      <!-- <div class="field">
        <app-input-field [disabled]="true" [(ngModel)]="corporateName" name="name" [placeholder]="'user.corporateName'"
                         [label]="'user.corporateName'"></app-input-field>
      </div> -->

      <ng-container *ngIf="!isUpdateView">
        <div class="field">
          <app-input-field [ref]="fLocaleName" #fLocaleName="ngModel" [required]="true"
                           [(ngModel)]="corporateUser.fLocaleName"
                           name="fLocaleName" [placeholder]="'user.fLocaleName'"
                           [label]="'user.fLocaleName'"></app-input-field>
          <app-error [ref]="fLocaleName"></app-error>
        </div>
        <div class="field">
          <app-input-field [ref]="mLocaleName" #mLocaleName="ngModel" [(ngModel)]="corporateUser.mLocaleName"
                           name="mLocaleName" [placeholder]="'user.mLocaleName'"
                           [label]="'user.mLocaleName'"></app-input-field>
        </div>
        <div class="field">
          <app-input-field [required]="true" [ref]="lLocaleName" #lLocaleName="ngModel"
                           [(ngModel)]="corporateUser.lLocaleName"
                           name="lLocaleName" [placeholder]="'user.lLocaleName'"
                           [label]="'user.lLocaleName'"></app-input-field>
          <app-error [ref]="lLocaleName"></app-error>
        </div>
        <div class="field">
          <app-input-field [ref]="fEnName" #fEnName="ngModel" [required]="true" [(ngModel)]="corporateUser.fEnName"
                           name="fEnName" [placeholder]="'user.fEnName'"
                           [label]="'user.fEnName'"></app-input-field>
          <app-error [ref]="fEnName"></app-error>
        </div>
        <div class="field">
          <app-input-field [ref]="mEnName" #mEnName="ngModel" [(ngModel)]="corporateUser.mEnName"
                           name="mEnName" [placeholder]="'user.mEnName'"
                           [label]="'user.mEnName'"></app-input-field>
          <app-error [ref]="mEnName"></app-error>
        </div>
        <div class="field">
          <app-input-field [ref]="lEnName" #lEnName="ngModel" [required]="true" [(ngModel)]="corporateUser.lEnName"
                           name="lEnName" [placeholder]="'user.lEnName'"
                           [label]="'user.lEnName'"></app-input-field>
          <app-error [ref]="lEnName"></app-error>
        </div>
        <div class="field">
          <app-label [label]="'user.address'"></app-label>
          <textarea placeholder="{{'user.address' | translate}}" [(ngModel)]="corporateUser.address"
                    name="address" rows="2"></textarea>
        </div>

        <div class="field">
          <app-label [label]="'app.description'"></app-label>
          <textarea placeholder="{{'app.description' | translate}}" nbInput fullWidth name="description" rows="2"
                    [(ngModel)]="corporateUser.description"></textarea>
        </div>
      </ng-container>

      <ng-container *ngIf="isUpdateView">
        <div class="field">
          <app-input-field [disabled]="true" [ref]="arName" #arName="ngModel" [required]="true"
                           [(ngModel)]="corporateUser.localeName"
                           name="arName" [placeholder]="'user.localeName'"
                           [label]="'user.localeName'"></app-input-field>
          <app-error [ref]="arName"></app-error>
        </div>
        <div class="field">
          <app-input-field [disabled]="true" [ref]="enName" #enName="ngModel" [required]="true"
                           [(ngModel)]="corporateUser.enName"
                           name="enName" [placeholder]="'user.enName'" [label]="'user.enName'"></app-input-field>
          <app-error [ref]="enName"></app-error>
        </div>
        <div class="field" *ngIf="corporateOu">
          <app-input-field [disabled]="true"
                           [(ngModel)]="currentLang === 'en' ? corporateOu.enName : corporateOu.localeName"
                           name="ouName" [placeholder]="'user.ouName'" [label]="'user.ouName'"></app-input-field>
        </div>
      </ng-container>
    </div>
    <h6>{{'user.systemInfo' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="fields">
      <div class="field">
        <app-input-field [disabled]="isUpdateView" [ref]="username" #username="ngModel" [required]="true"
                         [(ngModel)]="corporateUser.username" name="username" [placeholder]="'app.username'"
                         [label]="'app.username'" [pattern]="USERNAME_REGEX">
        </app-input-field>
        <app-error [ref]="username"></app-error>
      </div>
      <div class="field">
        <app-input-field [ref]="email" #email="ngModel" [pattern]="EMAIL_REGEX" [required]="true"
                         [type]="'email'" [(ngModel)]="corporateUser.email" name="email" [placeholder]="'app.email'"
                         [label]="'app.email'">
        </app-input-field>
        <app-error [ref]="email" [message]="'app.required'"></app-error>
      </div>
      <div class="field">
        <app-label  [label]="'user.mobileNumber'" [required]="true"></app-label>
        <input type="tel" id="mobNum" name="mobNum" autocomplete="off"
               required minlength="11" maxlength="11"
               placeholder="mobile Number"
               [(ngModel)]="corporateUser.mobileNumber" #mobNum="ngModel">
        <app-error [ref]="mobNum"></app-error>
      </div>
      <div class="field">
        <app-input-field [ref]="corporateUserId" #enName="ngModel" [(ngModel)]="corporateUser.corporateUserId"
                         name="corporateUserId" [placeholder]="'user.corporateId'"
                         [label]="'user.corporateId'"></app-input-field>
        <app-error [ref]="corporateUserId"></app-error>
      </div>

      <div class="field">
        <app-label [required]="true" [label]="'user.userRole'"></app-label>
        <ng-select dropdownPosition='bottom' required="true" #role="ngModel" name="roles" [multiple]="true"
                   [(ngModel)]="selectedRoles"
                   placeholder="{{'user.userRole' | translate}}">
          <ng-option *ngFor="let role of roles"
                     [value]="role.id">{{currentLang === 'en' ? role.enName : role.localeName}}</ng-option>
        </ng-select>
        <app-error [ref]="role"></app-error>
      </div>
    </div>

    <h6>{{'corporateCard.info' | translate}}</h6>
    <div class="ui dividing header"></div>
    <div class="fields">
      <div class="field">
        <app-label [label]="'corporateCard.cardNumber'"></app-label>
        <ng-select [disabled]="!!physicalNfcId && isUpdateView" dropdownPosition='bottom' [(ngModel)]="physicalNfcId"
                   name="cardId"
                   placeholder="{{'corporateCard.cardNumber' | translate}}">
          <ng-option *ngFor="let card of corporateCards" [value]="card.id">
            {{card['decimalRep']}}
          </ng-option>
        </ng-select>
      </div>

      <div class="field my-4">
        <nb-checkbox name="manexGaugeEnabled" [(ngModel)]="manexGaugeEnabled"
                     [disabled]="isUpdateView && virtualCard">{{'corporateCard.manexGaugeEnabled' | translate}}</nb-checkbox>
      </div>

    </div>

    <div class="ui dividing header"></div>
    <div class="field">
      <nb-toggle [(ngModel)]="active" name="toggle" labelPosition="start">{{'app.status' | translate}}:</nb-toggle>
    </div>
    <div class="row">
      <button [disabled]="!corporateUserForm.form.valid" (click)="createCorporateUser()" *ngIf="!isUpdateView"
              class="ui button btn-primary">{{'user.corporate.add' | translate}}</button>
      <button [disabled]="!corporateUserForm.form.valid" (click)="updateCorporateUser()" *ngIf="isUpdateView"
              class="ui button btn-primary">{{'app.save' | translate}}</button>
    </div>
  </form>
</div>
