<nb-card>
  <app-context-menu [items]="items"></app-context-menu>
  <div class="p-card-header">
    <div class="parent">
      <div class="parent-image"></div>
      <div class="parent-info">
        <h6> google corporate </h6>
        <p><img src="./assets/img/pending-requests/icons-master-corporate.svg" alt="master-corporate"> corporate</p>
      </div>
    </div>
    <div class="parent-details">
      <div class="item">
        <p>
          <img src="./assets/img/icons-branch.svg" alt="units icon">
          <span>30</span>
          units
        </p>
      </div>
      <div class="item">
        <p>
          <img src="./assets/img/icons-admin.svg" alt="admin icon">
          <span>30</span>
          mohand abdalrahman
        </p>
      </div>
      <div class="item">
        <p>
          <img src="./assets/img/context-menu/icons-truck-merchants.svg" alt="vehicle icon">
          <span>30</span>
          vehicles
        </p>
      </div>
      <div class="item">
        <p>
          <img src="./assets/img/icons-user-management.svg" alt="user icon">
          <span>30</span>
          users
        </p>
      </div>
    </div>
  </div>
  <div class="p-card-footer">
    <div class="item">
      <h6>current balance</h6>
      <span>4999</span>
    </div>
    <div class="item">
      <h6> card holder</h6>
      <span>49</span>
    </div>
    <div class="item">
      <h6> card holder</h6>
      <span>49</span>
    </div>
    <div class="item">
      <h6> card holder</h6>
      <span>49</span>
    </div>
    <div class="item">
      <h6> card holder</h6>
      <span>49</span>
    </div>
    <div class="item">
      <h6> card holder</h6>
      <span>49</span>
    </div>
    <div class="item">
      <h6> card holder</h6>
      <span>49</span>
    </div>
  </div>
</nb-card>