

<app-data-table [gridData]="gridData" [colData]="colData" [entityName]="'SITE'">
  <ng-container header>
    <app-left-table-header [title]="'site.title'" [name]="'site.name'"
                           [length]="totalElements"></app-left-table-header>

    <app-right-table-header [role]="'SITE_CREATE'" [addText]="'site.create'">
      <app-filter-btn #filterBtn></app-filter-btn>

    </app-right-table-header>
  </ng-container>


  <app-search *ngIf="filterBtn.showAdvanceSearch" search>

    <form #advanceSearchForm="ngForm" class="ui form" (ngSubmit)="handleSearch()">
      <div class="ui dividing header"></div>
      <div class="fields">
        <div class="field">
          <app-input-field [type]="'number'" ngModel name="id"
                           [placeholder]="'site.id'"
                           [label]="'site.id'"></app-input-field>
        </div>
        <div class="field">
          <app-input-field ngModel name="enName"
                           [placeholder]="'site.enName'"
                           [label]="'site.enName'"></app-input-field>
        </div>
        <div class="field">
          <app-input-field ngModel name="localeName" [placeholder]="'site.arName'"
                           [label]="'site.arName'"></app-input-field>
        </div>
      <div class="field">
        <app-label  [label]="'site.city'"></app-label>
        <ng-select  name="cityId" [ngModel]  (change)="getZones(countryId, $event);" placeholder="{{'site.city' | translate}}">
          <ng-option *ngFor="let city of cities" [value]="city.id">
            {{ currentLang === 'en' ? city.enName : city.localeName}}
          </ng-option>
        </ng-select>
      </div>
      <div class="field">
        <app-label [label]="'site.zone'"></app-label>
        <ng-select  name="zoneId" [(ngModel)]="zoneId" placeholder="{{'site.zone' | translate}}" [disabled]="!zonesList.length">
          <ng-option *ngFor="let zone of zonesList" [value]="zone.id"> {{currentLang === 'en' ? zone.enName : zone.localeName}}</ng-option>
        </ng-select>
      </div>

        <div class="field">
          <app-label [label]="'site.bankAccount'"></app-label>
          <ng-select name="bankAccountId" [ngModel]
                     placeholder="{{'site.bankAccount' | translate}}">
            <ng-option *ngFor="let bank of banks"
                       [value]="bank.id">{{currentLang === 'en' ? bank?.enName : bank?.localeName}}</ng-option>
          </ng-select>
        </div>

        <div class="field">
          <app-status ngModel name="suspended"></app-status>
        </div>

      </div>
      <div class="row">
        <div class="field search">
          <button type="submit" class="ui button">{{'app.search' | translate}}</button>
        </div>
      </div>
    </form>
  </app-search>
</app-data-table>

<!--PAGINATION-->
<app-pagination [totalElements]="totalElements"
                (onPageChange)="loadPage($event)" (onPageSizeChange)="handlePageSizeChange($event)"></app-pagination>

<!--DELETE MODAL-->
<app-delete-modal #modal [name]="'site.deletedTitle'">
  <button footer class="btn btn-danger" (click)="deleteSite()">{{'app.confirm' | translate}}</button>
</app-delete-modal>