<app-back-button></app-back-button>


<h4
  class="update-title"> {{'app.update' | translate}} {{this.currentLang === 'en' ? corporateOu.enName : corporateOu.localeName }}</h4>
<div class="ui dividing header"></div>

<form class="ui form " #unitForm="ngForm">
  <div class="row">
    <div class="col-md-5 col-xxl-4">
      <nb-card class="child-card">
        <nb-card-body>
          <h6>{{'unit.type' | translate}}
            <span class="required">*</span>
            <app-tooltip [infoText]="'unit.ouTypeInfo'"></app-tooltip>
          </h6>
          <nb-radio-group required="true" class="d-flex mt-3" name="ouType" [(ngModel)]="corporateOu.type">
            <nb-radio
              [disabled]="parentOu?.type === 'BRANCH' || corporateOu?.type === 'ROOT' || (corporateOu.type=== 'MAIN' && childIsMain)"
              *ngFor="let type of ouTypes"
              [value]="type.value">
              {{'unit.' + type.value | translate }}
            </nb-radio>
          </nb-radio-group>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-7 col-xxl-4">
      <nb-card class="child-card">
        <nb-card-body>
          <h6>{{'app.name' | translate}}</h6>
          <div class="d-flex">
            <div>
              <app-input-field [disabled]="true" #enName="ngModel" [ref]="enName" [required]="true" name="enName"
                               [(ngModel)]="corporateOu.enName"
                               [label]="'app.enName'" [placeholder]="'app.enName'"></app-input-field>
              <app-error [ref]="enName"></app-error>
            </div>
            <div>
              <app-input-field [disabled]="true" #localeName="ngModel" [ref]="localeName" [required]="true"
                               name="localeName"
                               [(ngModel)]="corporateOu.localeName"
                               [placeholder]="'app.arName'"
                               [label]="'app.arName'"></app-input-field>
              <app-error [ref]="localeName"></app-error>

            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-5 col-xxl-4">
      <nb-card class="child-card">
        <nb-card-body class="child-card-dropdown">
          <h6>{{'app.city' | translate}}</h6>
          <app-label [required]="true" [label]="'city.name'"></app-label>
          <ng-select required="true" #city="ngModel" dropdownPosition='bottom' [(ngModel)]="corporateOu.cityId"
                     name="cityId" placeholder="{{'city.name' | translate}}">
            <ng-option *ngFor="let city of cities" [value]="city.id">
              {{currentLang === 'en' ? city.enName : city.localeName}}
            </ng-option>
          </ng-select>
          <app-error [ref]="city" [message]="'app.selectRequired'"></app-error>

        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-7 col-xxl-4">
      <nb-card class="child-card">
        <nb-card-body class="child-card-dropdown">
          <h6>{{'unit.allowedProductCategory' | translate}}</h6>
          <div class="select-control">
            <app-label [required]="true" [label]="'product.category.title'"></app-label>
            <ng-select dropdownPosition='bottom' (change)="selectAll($event,'productCategories','submitForm')"
                       required=true
                       [multiple]="true"
                       [(ngModel)]="productCategoryIds"
                       name="productCategories" placeholder="{{'product.category.title' | translate}}">
              <ng-option *ngIf="productCategories.length"
                         value="selectAll">{{'app.selectAll' | translate}}</ng-option>
              <ng-option *ngFor="let product of productCategories" [value]="product.id">
                {{currentLang === 'en' ? product.enName : product.localeName}}
              </ng-option>
            </ng-select>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-5 col-xxl-4">
      <nb-card class="child-card">
        <nb-card-body>
          <h6>
            {{'unit.balanceTypeDist' | translate}}
            <span class="required">*</span>
            <app-tooltip [infoText]="'unit.balanceTypeDistInfo'"></app-tooltip>
          </h6>
          <nb-radio-group required="true" class="d-flex mt-3"
                          [(ngModel)]="corporateOu?.billingAccount.outputBalanceDistributionMode"
                          name="balanceDistributionMode">
            <nb-radio
              [disabled]="(corporateOu?.billingAccount?.outputBalanceDistributionMode==='BY_LIMIT' && corporateOu?.billingAccount?.inputBalanceDistributionMode ==='BY_LIMIT') || (corporateOu?.billingAccount?.outputBalanceDistributionMode === 'BY_BALANCE' && childIsByBalance)"
              *ngFor="let mode of balanceDistributionModes"
              [value]="mode.value">
              {{ 'unit.' + mode.value | translate }}
            </nb-radio>
          </nb-radio-group>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row justify-content-center">
    <button [disabled]="!unitForm.form.valid" (click)="updateCorporateOu()"
            class="ui button btn-primary">{{'app.save' | translate}}</button>
  </div>
</form>
