.modal-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.modal-title {
  font-size: 1.4em;
  text-align: center;
  text-transform: capitalize;
}

.btn {
  width: fit-content;
  justify-content: center;
  font-size: 1.2em;
}
